server {
    listen       {{ nginx_port }};
    server_name  {{ site_domain_name }};

location / {
	  rewrite (.*) index.html last;
      proxy_set_header        Host $host:$server_port;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

	  proxy_cache backcache;
	  proxy_cache_bypass $http_cache_control;
      add_header X-Proxy-Cache $upstream_cache_status;

      # Fix the "It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://127.0.0.1:8080;
    }
}