filebeat:
  prospectors:

    - paths:
        - /mnt/portfolio_accounting/log/example-portfolio-accounting.log
      input_type: log
      document_type: docker_log
      fields:
        source: {{ ansible_hostname }}
        tag: portfolio_accounting

  registry_file: /var/lib/filebeat/registry

output:
  logstash:
    hosts: ["elk.example.net:5000"]
shipper:

logging:
  files:
    rotateeverybytes: 10485760 # = 10MB