filebeat:
  prospectors:

    - paths:
        - /var/log/syslog
      input_type: log
      document_type: syslog

    - paths:
        - /var/log/kern.log
      input_type: log
      document_type: kernel
      
  registry_file: /var/lib/filebeat/registry

output:
  logstash:
    hosts: ["{{ elk_server_ip }}:5044"]
    bulk_max_size: 1024
    tls:
      certificate_authorities: ["{{ ssl_cert }}"]
      insecure: true
shipper:

logging:
  files:
    rotateeverybytes: 10485760 # = 10MB