apiVersion: v1
clusters:
- cluster:
    server: http://{{ configuration['dev'].kube_master }}:8080
  name: dev-cluster
contexts:
- context:
    cluster: dev-cluster
    namespace: default
    user: example
  name: dev-context
current-context: dev-context
kind: Config
preferences: {}
users:
- name: example
  user:
    token: {{ configuration['dev'].auth_token }}
