[Service]
ExecStart=/bin/sh -c '/usr/bin/consul agent -data-dir {{ data_dir }} -config-dir {{ config_dir }} -dc={{ agent_dc }} -atlas-join -atlas={{ atlas_user }}/infrastructure -atlas-token="{{ atlas_token }}" >> {{ log_dir }}/consul.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target