filebeat:
  prospectors:

    - paths:
        - {{ nginx_access_log }}
      input_type: log
      document_type: nginx_access

    - paths:
        - {{ nginx_error_log }}
      input_type: log
      document_type: nginx_error

  registry_file: /var/lib/filebeat/registry

output:
  logstash:
    hosts: ["{{ elk_server }}"]
    bulk_max_size: 1024
shipper:

logging:
  files:
    rotateeverybytes: 10485760 # = 10MB
